In [1]:
from gssutils import *
from requests import Session
from cachecontrol import CacheControl
from cachecontrol.caches.file_cache import FileCache
from cachecontrol.heuristics import ExpiresAfter

scraper = Scraper('https://statswales.gov.wales/Catalogue/Housing/Social-Housing-Vacancies/'
                  'vacancies-by-area-availability-duration',
                  session=CacheControl(Session(),
                                       cache=FileCache('.cache'),
                                       heuristic=ExpiresAfter(days=7)))
scraper

WARNING:http://open.statswales.gov.wales/en-gb/discover/metadata?$filter=Dataset eq 'hous1401' does not look like a valid URI, trying to serialize this will break.
WARNING:http://open.statswales.gov.wales/en-gb/discover/datasetdimensions?$filter=Dataset eq 'hous1401' does not look like a valid URI, trying to serialize this will break.
WARNING:http://open.statswales.gov.wales/en-gb/discover/datasetdimensionitems?$filter=Dataset eq 'hous1401' does not look like a valid URI, trying to serialize this will break.

## Social housing vacancies

The information presented here covers the number of vacancies within housing stock held by Local Authorities and Registered Social Landlords. The information is collected via new annual returns from Welsh social landlords in order to monitor trends over time in the proportion of housing stock which is vacant. Vacant dwellings includes:1.)Dwellings undergoing or awaiting major capital works repair, conversion or improvement;2.)Vacant dwellings that have formal approval for sale or demolition only if they are still part of HRA (Housing Revenue Account) dwellings;3.)All vacant dwellings to be sold whether awaiting sale or undergoing repair prior to being sold; 4.)Vacant dwellings subject to demolition or closing orders or acquired for demolition under Part VI or IX of the Housing Act 1985. The information presented here excludes vacant dwellings where an offer of tenancy has been accepted even if no rent is being paid at the end of the financial year.

### Distributions

1. Dataset ([application/json](http://open.statswales.gov.wales/dataset/hous1401))
1. Dimensions ([application/json](http://open.statswales.gov.wales/en-gb/discover/datasetdimensions?$filter=Dataset eq 'hous1401'))
1. Metadata ([application/json](http://open.statswales.gov.wales/en-gb/discover/metadata?$filter=Dataset eq 'hous1401'))
1. Items ([application/json](http://open.statswales.gov.wales/en-gb/discover/datasetdimensionitems?$filter=Dataset eq 'hous1401'))

In [2]:
if len(scraper.distributions) == 0:
    from gssutils.metadata import Distribution
    dist = Distribution(scraper)
    dist.title = 'Dataset'
    dist.downloadURL = 'http://open.statswales.gov.wales/dataset/hous1401'
    dist.mediaType = 'application/json'
    scraper.distributions.append(dist)
table = scraper.distribution(title='Dataset').as_pandas()

In [3]:
table = table[['Area_AltCode1','Availability_ItemName_ENG','Data','Duration_ItemName_ENG','Provider_ItemName_ENG','Vacancy_ItemName_ENG','Year_Code'
]]

In [4]:
table.rename(columns={'Area_AltCode1': 'Geography','Availability_ItemName_ENG':'Available to let','Data': 'Value','Duration_ItemName_ENG': 'Vacancy Duration','Provider_ItemName_ENG':'Provider','Vacancy_ItemName_ENG': 'Vacancy Type','Year_Code':'Year'}, inplace=True)

In [5]:
table['Period'] = table['Year'].map(
    lambda x: f'gregorian-interval/{str(x)[:4]}-03-31T00:00:00/P1Y')

In [6]:
table['Measure Type'] = 'Count' 
table['Unit'] = 'vacancies'

In [7]:
table = table[['Geography','Period','Available to let','Value','Vacancy Duration','Provider',
               'Vacancy Type','Measure Type','Unit']]

In [8]:
out = Path('out')
out.mkdir(exist_ok=True, parents=True)

table.to_csv(out / 'observations.csv', index = False)

In [9]:
schema = CSVWSchema('https://ons-opendata.github.io/ref_housing/')
schema.create(out / 'observations.csv', out / 'observations.csv-schema.json')

"Available to let" not defined
"Vacancy Duration" not defined
"Provider" not defined
"Vacancy Type" not defined

In [10]:
from datetime import datetime
scraper.dataset.family = 'housing'
scraper.dataset.theme = THEME['housing-planning-local-services']
scraper.dataset.modified = datetime.now()
scraper.dataset.creator = scraper.dataset.publisher
with open(out / 'dataset.trig', 'wb') as metadata:
    metadata.write(scraper.generate_trig())

In [11]:
table

,Geography,Period,Available to let,Value,Vacancy Duration,Provider,Vacancy Type,Measure Type,Unit
0,W06000016,gregorian-interval/2005-03-31T00:00:00/P1Y,Available for letting,-1,Vacant for less than 6 months,Rhondda Cynon Taf,Total,Count,vacancies
1,W06000021,gregorian-interval/2001-03-31T00:00:00/P1Y,Available for letting,-2,Vacant for less than 6 months,Monmouthshire,Total,Count,vacancies
2,W06000022,gregorian-interval/2005-03-31T00:00:00/P1Y,Not available for letting,-8,Vacant for less than 6 months,Newport,Total,Count,vacancies
3,W06000004,gregorian-interval/2005-03-31T00:00:00/P1Y,Available for letting,-999,Vacant for 6 months or more,Denbighshire,Total,Count,vacancies
4,W06000013,gregorian-interval/2007-03-31T00:00:00/P1Y,Not available for letting,-999,Vacant for 6 months or more,Bridgend,Total,Count,vacancies
5,W06000013,gregorian-interval/2007-03-31T00:00:00/P1Y,Available for letting,-999,Vacant for 6 months or more,Bridgend,Total,Count,vacancies
6,W06000013,gregorian-interval/2007-03-31T00:00:00/P1Y,Not available for letting,-999,Vacant for less than 6 months,Bridgend,Total,Count,vacancies
7,W06000013,gregorian-interval/2007-03-31T00:00:00/P1Y,Available for letting,-999,Vacant for less than 6 months,Bridgend,Total,Count,vacancies
8,W06000013,gregorian-interval/2006-03-31T00:00:00/P1Y,Available for letting,-999,Vacant for less than 6 months,Bridgend,Total,Count,vacancies
9,W06000013,gregorian-interval/2006-03-31T00:00:00/P1Y,Not available for letting,-999,Vacant for less than 6 months,Bridgend,Total,Count,vacancies
10,W06000013,gregorian-interval/2006-03-31T00:00:00/P1Y,Not available for letting,-999,Vacant for 6 months or more,Bridgend,Total,Count,vacancies
11,W06000013,gregorian-interval/2006-03-31T00:00:00/P1Y,Available for letting,-999,Vacant for 6 months or more,Bridgend,Total,Count,vacancies
12,W06000013,gregorian-interval/2005-03-31T00:00:00/P1Y,Not available for letting,-999,Vacant for 6 months or more,Bridgend,Total,Count,vacancies
13,W06000013,gregorian-interval/2005-03-31T00:00:00/P1Y,Available for letting,-999,Vacant for less than 6 months,Bridgend,Total,Count,vacancies
14,W06000013,gregorian-interval/2005-03-31T00:00:00/P1Y,Not available for letting,-999,Vacant for less than 6 months,Bridgend,Total,Count,vacancies
15,W06000013,gregorian-interval/2005-03-31T00:00:00/P1Y,Available for letting,-999,Vacant for 6 months or more,Bridgend,Total,Count,vacancies
16,W06000016,gregorian-interval/2007-03-31T00:00:00/P1Y,Not available for letting,-999,Vacant for 6 months or more,Rhondda Cynon Taf,Total,Count,vacancies
17,W06000016,gregorian-interval/2007-03-31T00:00:00/P1Y,Available for letting,-999,Vacant for 6 months or more,Rhondda Cynon Taf,Total,Count,vacancies
18,W06000016,gregorian-interval/2007-03-31T00:00:00/P1Y,Not available for letting,-999,Vacant for less than 6 months,Rhondda Cynon Taf,Total,Count,vacancies
19,W06000016,gregorian-interval/2007-03-31T00:00:00/P1Y,Available for letting,-999,Vacant for less than 6 months,Rhondda Cynon Taf,Total,Count,vacancies
20,W06000019,gregorian-interval/2005-03-31T00:00:00/P1Y,Available for letting,-999,Vacant for 6 months or more,Blaenau Gwent,Total,Count,vacancies
21,W06000020,gregorian-interval/2007-03-31T00:00:00/P1Y,Available for letting,-999,Vacant for 6 months or more,Torfaen,Total,Count,vacancies
22,W06000020,gregorian-interval/2007-03-31T00:00:00/P1Y,Not available for letting,-999,Vacant for 6 months or more,Torfaen,Total,Count,vacancies
23,W06000020,gregorian-interval/2007-03-31T00:00:00/P1Y,Available for letting,-999,Vacant for less than 6 months,Torfaen,Total,Count,vacancies
24,W06000020,gregorian-interval/2007-03-31T00:00:00/P1Y,Not available for letting,-999,Vacant for less than 6 months,Torfaen,Total,Count,vacancies
25,W06000021,gregorian-interval/2007-03-31T00:00:00/P1Y,Not available for letting,-999,Vacant for 6 months or more,Monmouthshire,Total,Count,vacancies
26,W06000021,gregorian-interval/2007-03-31T00:00:00/P1Y,Not available for letting,-999,Vacant for less than 6 months,Monmouthshire,Total,Count,vacancies
27,W06000021,gregorian-interval/2007-03-31T00:00:00/P1Y,Available for letting,-999,Vacant for less than 6 months,Monmouthshire,Total,Count,vacancies
28,W06000021,gregorian-interval/2007-03-31T00:00:00/P1Y,Available for letting,-999,Vacant for 6 months or more,Monmouthshire,Total,Count,vacancies
29,W06000001,gregorian-interval/2014-03-31T00:00:00/P1Y,Total,0,Vacant for less than 6 months,Isle of Anglesey,Self-contained other supported (2011-12 onward...,Count,vacancies
...,...,...,...,...,...,...,...,...,...
271875,W06000013,gregorian-interval/2017-03-31T00:00:00/P1Y,Total,99,Total,Wales,All self-contained,Count,vacancies
271876,W06000019,gregorian-interval/2011-03-31T00:00:00/P1Y,Total,99,Vacant for 6 months or more,Wales,All self-contained,Count,vacancies
271877,W06000019,gregorian-interval/2011-03-31T00:00:00/P1Y,Total,99,Total,Wales,Self-contained sheltered (2011-12 onwards only),Count,vacancies
271878,W06000019,gregorian-interval/2011-03-31T00:00:00/P1Y,Total,99,Vacant for 6 months or more,Wales,Total,Count,vacancies
271879,W06000016,gregorian-interval/2011-03-31T00:00:00/P1Y,Not available for letting,99,Vacant for 6 months or more,Wales,Self-contained sheltered and other supported (...,Count,vacancies
271880,W06000016,gregorian-interval/2011-03-31T00:00:00/P1Y,Not available for letting,99,Vacant for 6 months or more,Wales,Self-contained sheltered (2011-12 onwards only),Count,vacancies
271881,W06000012,gregorian-interval/2009-03-31T00:00:00/P1Y,Available for letting,99,Vacant for less than 6 months,Wales,All self-contained,Count,vacancies
271882,W06000014,gregorian-interval/2009-03-31T00:00:00/P1Y,Available for letting,99,Total,Wales,Total,Count,vacancies
271883,W06000012,gregorian-interval/2009-03-31T00:00:00/P1Y,Available for letting,99,Total,Wales,Self-contained general needs,Count,vacancies
271884,W92000004,gregorian-interval/2016-03-31T00:00:00/P1Y,Total,99,Total,Gwalia Housing Group,Total,Count,vacancies
271885,W06000011,gregorian-interval/2001-03-31T00:00:00/P1Y,Total,99,Total,Gwalia Housing Group,Total,Count,vacancies
271886,W92000004,gregorian-interval/2015-03-31T00:00:00/P1Y,Total,99,Vacant for less than 6 months,Gwalia Housing Group,Total,Count,vacancies
271887,W92000004,gregorian-interval/2014-03-31T00:00:00/P1Y,Total,99,Total,Wales and West Housing,Total,Count,vacancies
271888,W92000004,gregorian-interval/2014-03-31T00:00:00/P1Y,Total,99,Total,Wales and West Housing,All self-contained,Count,vacancies
271889,W92000004,gregorian-interval/2011-03-31T00:00:00/P1Y,Total,99,Vacant for less than 6 months,Trivallis,All self-contained,Count,vacancies
271890,W92000004,gregorian-interval/2011-03-31T00:00:00/P1Y,Total,99,Vacant for less than 6 months,Trivallis,Total,Count,vacancies
271891,W06000016,gregorian-interval/2011-03-31T00:00:00/P1Y,Total,99,Vacant for less than 6 months,Trivallis,Total,Count,vacancies
271892,W06000016,gregorian-interval/2011-03-31T00:00:00/P1Y,Total,99,Vacant for less than 6 months,Trivallis,All self-contained,Count,vacancies
271893,W92000004,gregorian-interval/2013-03-31T00:00:00/P1Y,Available for letting,99,Total,Newport City Homes,Total,Count,vacancies
271894,W06000022,gregorian-interval/2013-03-31T00:00:00/P1Y,Available for letting,99,Total,Newport City Homes,Total,Count,vacancies
271895,W92000004,gregorian-interval/2015-03-31T00:00:00/P1Y,Total,99,Total,Newport City Homes,Self-contained general needs,Count,vacancies
271896,W06000022,gregorian-interval/2015-03-31T00:00:00/P1Y,Total,99,Total,Newport City Homes,Self-contained general needs,Count,vacancies
271897,W92000004,gregorian-interval/2016-03-31T00:00:00/P1Y,Not available for letting,99,Vacant for 6 months or more,NPT Homes,All self-contained,Count,vacancies
271898,W06000012,gregorian-interval/2016-03-31T00:00:00/P1Y,Not available for letting,99,Vacant for 6 months or more,NPT Homes,All self-contained,Count,vacancies
271899,W06000016,gregorian-interval/2003-03-31T00:00:00/P1Y,Total,991,Total,Wales,Total,Count,vacancies
271900,W92000004,gregorian-interval/2015-03-31T00:00:00/P1Y,Available for letting,992,Total,Total Registered Social Landlords,Self-contained general needs,Count,vacancies
271901,W92000004,gregorian-interval/2014-03-31T00:00:00/P1Y,Not available for letting,994,Vacant for less than 6 months,Wales,Self-contained general needs,Count,vacancies
271902,W92000004,gregorian-interval/2012-03-31T00:00:00/P1Y,Not available for letting,994,Vacant for less than 6 months,Wales,Total,Count,vacancies
271903,W92000004,gregorian-interval/2017-03-31T00:00:00/P1Y,Not available for letting,996,Vacant for less than 6 months,Wales,Self-contained general needs,Count,vacancies
271904,W92000004,gregorian-interval/2013-03-31T00:00:00/P1Y,Not available for letting,998,Total,Total Registered Social Landlords,Total,Count,vacancies